<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Groove</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <!-- Google Fonts's API connexion -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- Google Fonts: Spicy Rice -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      <p class="wrapper__base-text">Groove</p>
      <p class="wrapper__animated-text wrapper__animated-text-1">Groove</p>
      <p class="wrapper__animated-text wrapper__animated-text-2">Groove</p>
      <p class="wrapper__animated-text wrapper__animated-text-3">Groove</p>
      <p class="wrapper__animated-text wrapper__animated-text-4">Groove</p>
      <p class="wrapper__animated-text wrapper__animated-text-5">Groove</p>
      <p class="wrapper__animated-text wrapper__animated-text-6">Groove</p>
      <p class="wrapper__animated-text wrapper__animated-text-7">Groove</p>
    </div>
  </body>
</html>
